<html>
<head>
    <title>User Profiles</title>
    <link rel="stylesheet" href="/css/userprofile.css">
</head>

<body>
    <div class="container">
        {% for profile in profiles %}
        <p>
            <a> Username: {{profile.user.username}} </a> </br>
            <a> First Name: {{profile.user.first_name}} </a> </br>
            <a> Last Name: {{profile.user.last_name}} </a> </br>
            <a> Interests: </a>
            {% for interest in profile.interests %}
            <li> {{interest.name}} </li>
            {% endfor %}
        </p>
        {% endfor %}
    </div>
</body>
</html>